
body {
    background-color:#E8F9FF;
    height: 100%;
    overflow-x: hidden;
    width: 100%;
}

.navbar{
    /*height: 13vh;*/
    width: 100%;
    display: flex;
    background-color:#C5BAFF;
    overflow: hidden;
    gap: 0px;
    list-style: none;
    margin-bottom: 0px;

}
.navbar a{
    color:black;
    font-size: 17px;
    text-decoration: none;
    padding-top: 25px;
    display: block;
    margin-left: 70px;
    position: relative;
}
.navbar ul{
    display: flex;
    list-style: none;
}
#click{
    display: none;
}
.navbar label{
    display: none;
}
#click:checked~header .navbar ul{
    display:block;
}
h1{
    background-color: #C5BAFF;
    color:black;
    padding-left: 20px;
    font-family: "Averia Serif Libre", serif; 
    font-size: 35px;
    padding-bottom: 0px;
}

.container{
    /*height: 75vh;*/
    background-color:#E8F9FF;
    margin-top: -20px;
    display: grid;
    grid-template-columns: 240px 240px 240px 240px 240px 240px  ;
    /* grid-template-rows: 250px 250px 250px 250px 250px ; */
}
.ch1,.ch2,.ch3,.ch4,.ch5,.ch6,.ch7,.ch8,.ch8,.ch9{
    background-color:#E8F9FF ;
    border: 10px transparent black;
}
.ch1{
    grid-column-start: 1;
    grid-column-end: 7;
    background-color:sandybrown;
    background-size: 40vh 100vw;
    border:solid #E8F9FF 40px ;
}
h2{
    margin-left: 205px;
    margin-top: 55px;
    font-size: 50px;
    color: black;
}
h3{
    margin-left: 647px;
    margin-top: -100px;
    font-size: 50px;
    font-family: Mulish, sans-serif;
    color:black;
}
h4{
    font-size: 20px;
    padding-left: 30px;
    margin-top: 0px;
}
.ch2 img{
    margin-bottom: 0px;
    margin-left: -15px;
    border-radius: 80px;
}
h5{
    font-size: 20px;
    padding-left: 25px;
    margin-top: 0px;
}
.ch3 img{
    margin-bottom: 0px;
    margin-left: -15px;
    border-radius: 80px;
}
h6{
    font-size: 20px;
    padding-left: 25px;
    margin-top: 0px;
}
.ch4 img{
    margin-bottom: 0px;
    margin-left: -15px;
    border-radius: 80px;
}
h7{
    font-size: 20px;
    padding-left: 45px;
    margin-bottom: 0px;
}
.ch5 img{
    margin-top: 5px;
    margin-left: -15px;
    border-radius: 80px;
}
h8{
    font-size: 20px;
    padding-left: 25px;
    margin-top: 0px;
}
.ch6 img{
    margin-top: 5px ;
    margin-left: -15px;
    border-radius: 80px;
}
h9{
    font-size: 20px;
    padding-left: 25px;
    margin-top: 0px;
}
.ch7 img{
    margin-top: 5px;
    margin-left: -15px;
    border-radius: 80px;
}
h10{
    font-size: 20px;
    padding-left: 60px;
    margin-top: 20px;
}
.ch8 img{
    margin-top: 0px;
    margin-left: 25px;
    border-radius: 80px;
}
h11{
    font-size: 20px;
    padding-left: 48px;
    margin-top: 0px;
}
.ch9 img{
    margin-top: 0px;
    margin-left: 25px;
    border-radius: 100px;
}
.container1{
    background-color: white;
    margin-top: 10px;
}
h12{
    font-size: 30px;
    margin-left: 20px;
    grid-column-start: 1;
    grid-column-end: 8;
    margin-top: 20px;
}
.container1{
    background-color:white;
    display: grid;
    grid-template-columns: 230px 230px 230px 250px 230px 250px;
    grid-template-rows: 50px 250px ;
}
.rw1,.rw2,.rw3,.rw4,.rw5,.rw6{
    background-color:white ;
    border: 1px transparent black;
    margin-left: -20px;
    margin-top: 10px;
}
.container2{
    background-color: white;
    margin-top: 50px;
}
h13{
    font-size: 30px;
    margin-left: 20px;
    grid-column-start: 1;
    grid-column-end: 8;
    margin-top: 20px;
}
.container2{
    /* height: 40vh;*/
    background-color:white;
    display: grid;
    grid-template-columns: 230px 230px 230px 250px 230px 250px;
    grid-template-rows: 50px 250px ;
}
.row1,.row2,.row3,.row4,.row5,.row6{
    background-color:white ;
    border: 1px transparent black;
    margin-left: 0px;
    margin-top: 10px;
}

.container3{
    background-color: white;
    margin-top: 50px;
}
h14{
    font-size: 30px;
    margin-left: 20px;
    grid-column-start: 1;
    grid-column-end: 8;
    margin-top: 20px;
}
.container3{
    /*height: 40vh;*/
    background-color:white;
    display: grid;
    grid-template-columns: 230px 230px 230px 250px 230px 250px;
    grid-template-rows: 50px 250px ;
}
.book1,.book2,.book3,.book4,.book5,.book6{
    background-color:white ;
    border: 1px transparent black;
    margin-left: -30px;
    margin-top: 10px;
}
.container4{
    background-color: white;
    margin-top: 50px;
}
h15{
    font-size: 30px;
    margin-left: 20px;
    grid-column-start: 1;
    grid-column-end: 8;
    margin-top: 20px;
}
.container4{
    /*height: 40vh;*/
    background-color:white;
    display: grid;
    grid-template-columns: 230px 230px 230px 250px 230px 250px;
    grid-template-rows: 50px 250px ;
}
.call1,.call2,.call3,.call4,.call5,.call6{
    background-color:white ;
    border: 1px transparent black;
    margin-left: 0px;
    margin-top: 10px;
}
.bath{
    background-color:#c3bcbc;
    /*height: 55vh;*/
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}
.bath ul a {
    display: block;
    font-size: 17px;
    margin-top: 10px;
    color: rgb(53, 45, 45);
}
ul p{
    font-size: 20px;
}
.bath ul a i{
    align-items: center;
}
.container5{
    background-color: white;
    /*height: 20vh;*/
    margin-top: 50px;
}
h16{
    font-size: 20px;
    color: black;
    margin-left: 20px;
    margin-top: 0px;
}
.container5 p{
    color: rgb(53, 45, 45);
    font-size: 17px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}
/* Media Query for Phones */

@media screen and (max-width: 600px) {
    body{
        overflow-x: hidden;
    }
    h1 {
        font-size: 30px;
        /*margin-left: 130px;
        margin-top: 20px;*/
        margin-left: 20%;
        margin-bottom: 5%;
    }

    .ch1{
        width: 100%;
    }
    h2 {
        font-size: 22px;
        /*margin: 60px 42px;
        margin-bottom: 75px;*/
        margin-left: 10%;
        margin-bottom: 14.5%;
    }
    h3 {
        font-size: 22px;
        /*margin-left: 240px;
        margin-bottom: 50px;*/
        margin-left: 48%;
        margin-bottom: 10%;
    }

    .navbar {
        flex-direction: column;
        padding: 5px;
        width: 100%;
    }

    .navbar ul a {
        font-size: 14px;
        margin: 5px 0;
        
    }

    .navbar label{
        display: block;
        margin-top: -30px;
    }
    .navbar ul{
        display: none;
        position: absolute;
        list-style: none;
        top: 150px;
        width: 100%;
        background-color: rgba(245, 222, 179, 0.683);
        
    }

    .container {
        grid-template-columns: repeat(1,auto); 
        grid-template-rows: repeat(3,auto);
        width: 100%;
    }
.container img{
        width: 70%;
        border-radius: 5px;
}
    .ch2 img,.ch3 img,.ch4 img,.ch5 img,.ch6 img,.ch7 img,.ch8 img,.ch9 img {
        height: 300px;
        width: 100%;
        margin-left: 0px;
    }
    
.ch8 img,.ch9 img{
        margin-right: 190px;
}

.mobile1,.mobile2,.mobile3{
    font-size: 30px;
    text-align: center;
}

.mobile4,.mobile5,.mobile6{
    font-size: 30px;
    margin-left: 25%;
}

    /*h4, h5, h6,h7,h8,h9{
        font-size: 30px;
        margin-left: 25%;
        text-align: center;
    }*/

    h10, h11 {
        font-size: 30px;
        margin-left: 18%;
    }

    .container1 {
        grid-template-columns: repeat(1,auto); 
        grid-template-rows: repeat(3,auto);
        display: flex;
        flex-wrap: wrap;
    }

.rw1 img,.rw2 img,.rw3 img,.rw4 img,.rw5 img,.rw6 img {
        height: 250px;
        width: 200px;
        
}

h12 {
    font-size: 30px;
}

.container2 {
    grid-template-columns: repeat(1,auto); 
    grid-template-rows: repeat(3,auto);
    display: flex;
    flex-wrap: wrap;
}

.row1 img,.row2 img,.row3 img,.row4 img,.row5 img,.row6 img {
    height: 220px;
    width: 200px;    
}

h13 {
font-size: 30px;
}

.container3 {
    grid-template-columns: repeat(1,auto); 
    grid-template-rows: repeat(3,auto);
    display: flex;
    flex-wrap: wrap;
}

.book1 img,.book2 img,.book3 img,.book4 img,.book5 img,.book6 img {
    height: 220px;
    width: 230px;    
}

h14 {
font-size: 30px;
}

.container4 {
    grid-template-columns: repeat(1,auto); 
    grid-template-rows: repeat(3,auto);
    display: flex;
    flex-wrap: wrap;
}

.call1 img,.call2 img,.call3 img,.call4 img,.call5 img,.call6 img {
    height: 220px;
    width: 200px;    
}

h15 {
font-size: 30px;
}

    .bath ul p {
        font-size: 15px;
}    
    .bath ul a {
        font-size: 10px;
        margin: 3px 0;
    }

    .container5 p {
        font-size: 12px;
    }
}
